%html
  %head
    %title &#x10E;&#xCB;&#xC3;&#xD0; &#xD0;&#x159;&#xD8;&#x1E57; - Intermediary Stash Keeper
  %body
    %link{ :href => 'http://fonts.googleapis.com/css?family=Rambla:700italic', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => '/css/server.css', :rel => 'stylesheet', :type => 'text/css' }
    %h1 &#x10E;&#xCB;&#xC3;&#xD0; &#xD0;&#x159;&#xD8;&#x1E57;
    %h3 Reaper
    %fieldset
      %legend stash your files
      %form{ :method => 'post', :enctype => 'multipart/form-data' }
        %input{ :type => 'file', :name => 'dead_body' }
        %br
        %input{ :type => 'submit', :value => 'ReapIT' }
